<div class="container-fluid" id="photos">
	<div class="row">
		<div class="col-sm-12 col-lg-6 photo wedding">
            <p class="text">Événements familiaux et amicaux</p>
        </div>
        <div class="col-sm-12 col-lg-6 photo family">
            <p class="text">Recueil de souvenirs de vie</p>
        </div>
        <div class="col-sm-12 col-lg-6 photo enterprise">
            <p class="text">Communication d'entreprise</p>
        </div>
        <div class="col-sm-12 col-lg-6 photo micro">
            <p class="text"></p>
        </div>
	</div>
</div>
