<div class="container-fluid" id="presentation">
	<div class="row d-flex justify-content-center align-items-center">
		<div class="carte-photo col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
			<img src="/img/essai_presentation.png" alt="photo">
		</div>
		<div class="carte-presentation col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start">
			<blockquote>
				<em>{{ phrase }}</em>
			</blockquote>
			<figcaption>Jeanne Fourel</figcaption>
			<hr>
			<h3>{{ description }}</h3>
		</div>
	</div>
</div>
