<div class="container-fluid" id="presentation">
	<div class="row d-flex justify-content-center align-items-center">
		<div class="carte-photo col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
			<img src="/img/essai_presentation.png" alt="photo">
		</div>
		<div class="carte-presentation col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start">
			{% for site in sites %}
				<blockquote>
					<em>{{ site.phrase }}</em>
				</blockquote>
				<figcaption>{{ site.proprietaire }}</figcaption>
				<hr>
				<h3>{{ site.description }}</h3>
			{% endfor %}
		</div>
	</div>
</div>
