<div class="container-fluid" id="banniere" style="height: 280px;padding-top:40px;">
	<div class="row d-flex justify-content-center">
		{% for site in sites %}
			<div
				class="col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center">
				{# <img src="/img/logo1.png" alt="logo"> #}
				<img src="/logos/logo.png" alt="logo" id="logoText">

				<p id="phrase">{{ site.phraseTitre }}</p>

			</div>
			<div class="reseaux d-flex justify-content-center align-items-center">
				<a href="{{ site.lienFacebook }}" target="_blank" title="Facebook">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="{{ site.lienInstagram }}" target="_blank" title="Instagram">
					<i class="fab fa-instagram"></i>
				</a>
			</div>
			<div class="logo">
				<img src="/logos/logo1.png" alt="logo">
			</div>
		{% endfor %}
	</div>
</div>
