<div class="container-fluid" id="footer">
	<div class="row">
		<div class="nav-footer col col-md-4 col-sm-12 d-flex flex-wrap justify-content-start align-items-center">
			<a class="nav-link" href="/">Accueil</a>
			<a class="nav-link" href="#">Prestations</a>
			<a class="nav-link" href="#">Contact</a>
			<a class="nav-link" href="#">Actualités</a>
			<a class="nav-link" href="#">Galerie photos</a>
			<a class="nav-link" href="#">Envoyez vos fichiers</a>
			<a class="nav-link" href="#">Inscription/Connexion</a>
		</div>
		<div class="col col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
			<p>©2021 - La Belle Oreille</p>
		</div>
		<div class="reseaux-footer col col-md-4 col-sm-12 d-flex justify-content-end align-items-center">
			<a href="https://www.facebook.com/La-Belle-Oreille-101656721318094/?modal=admin_todo_tour" target="_blank" title="Facebook">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="https://www.instagram.com/foureljeanne/" target="_blank" title="Instagram">
				<i class="fab fa-instagram"></i>
			</a>
		</div>
	</div>
</div>
