#presentation {
    padding: 80px;
    background: linear-gradient(70deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)50%);

    .carte-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 380px;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(/public/backgrounds/lights.jpg);
        background-size: cover;
        background-position: bottom;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 4px 4px 4px #ccc;
        margin: 5px;

        img {
            width: 300px;
            border-radius: 50%;
        }
    }

    .carte-presentation {
        background-color: #fff;
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 380px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 4px 4px 4px #ccc;
        padding: 25px;
        margin: 5px;

        hr {
            width: 50%;
            margin: 40px auto;
        }
    }
}

#photos {
    background: linear-gradient(70deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)50%);
}

.photo {
    position: relative;
    height: 500px;

    .text {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
    }
}

.wedding {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url(/public/backgrounds/wedding.jpg);
    background-size: cover;
    background-position: center;
}

.family {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url(/public/backgrounds/family.jpg);
    background-size: cover;
    background-position: center;
}

.enterprise {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url(/public/backgrounds/enterprise.jpg);
    background-size: cover;
    background-position: center;
}

.micro {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url(/public/backgrounds/micro.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 992px) {
    #presentation {
        padding: 40px 10px;

        .carte-photo {
            width: 300px;
        }

        .carte-presentation {
            width: 300px;
        }
    }

    #photos {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #presentation {
        .carte-presentation {
            margin-top: 20px;
        }
    }
}