#actus {
    padding-top: 80px;
    padding-bottom: 80px;

    .carte-actu {
        // border: 1px solid #ccc;
        margin: 40px 0;

        hr {
            width: 25%;
        }

        .img {
            width: 300px;
        }
    }

}