<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}La Belle Oreille
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">La Belle Oreille</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link" href="#">Accueil</a>
						<a class="nav-link" href="#">Prestations</a>
						<a class="nav-link" href="#">Contact</a>
                        <a class="nav-link" href="#">Actualités</a>
                        <a class="nav-link" href="#">Inscription/Connexion</a>
                        <a class="nav-link" href="#">Envoi fichiers</a>
                        <a class="nav-link" href="#">Galerie photos</a>
					</div>
				</div>
			</div>
		</nav>

		{% block body %}{% endblock %}

	</body>
</html>
